[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Công
	email = iamsljacob@gmail.com
[init]
	defaultBranch = master
[pull]
	rebase = false
